footer{
    .footer-content{
        padding: 60px 0;
        .footer-list{
          display: grid;
          align-items: stretch;
          grid-template-columns: repeat(5, 1fr);
          gap: 30px;
          .footer-item{
            display: flex;
            align-items: stretch;
            gap: 15px;
            flex-direction: column;
            margin-bottom: 35px;
            .footer-nav{
               display: flex;
               align-items: center;
               gap: 5px;
               font-family: "Rubik", sans-serif;
               color:#FFFFFF;
               font-weight: 600;
               font-size: 22.55px;
               line-height:100%;
                &:hover{
                color: #2563EB;
                cursor: pointer;
                  } 
               }
               .icons{
                display: flex;
                align-items: center;
                gap: 5px;
                color: #FFFFFFCC;
                font-weight: 400;
                 font-size: 16px;
                 line-height:32px;
                
               }
               .footer-iconse{
                display: flex;
                align-items: center;
                gap: 12px;
                color: #fff;
                font-size: 17px;

                


               }
               
          }
        }
    }
}