.section_four{
    .section_four-project{
         padding: 60px 0;
        display: flex;
        gap: 90px;
        .four-left{
              max-width: 50%;
              padding-top: 100px;
             h2{
                    max-width: 582px;
                    color:#FFFFFF;
                    font-weight: 700;
                    font-size: 30px;
                    line-height:100%;
                    margin-bottom: 30px;
                   
                }
                p{
                   max-width: 579px;
                    color:#FFFFFF;
                    font-weight: 400;
                    font-size: 16px;
                    line-height:26px;
                    margin-bottom: 30px;
                    
                }
                 .three-btn{
                      padding: 8px 18px;
                      border: 1px solid #3A68B8;
                      background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
                      box-shadow: 0 0 5px #000;
                      border-radius: 4px;
                      color: #fff;
                      outline: none;
                      cursor: progress;
                      font-weight: 400;
                      font-size: 15px;
                      line-height: 20px;
                        &:hover{
                         background: none;
                         border: 1px solid #3A68B8;
               }
        }
        }
        .four-right{
              max-width: 50%;
            img{
                width: 100%;
            }
        }
}
}

@media(max-width:960px){
  .section_four{
    .section_four-project{
        gap: 20px;
        .four-left{
            padding-top: 0;
        }
    }
  }
}
@media(max-width:860px){
  .section_four{
    .section_four-project{
        flex-direction: column-reverse;
        align-items: center;
        .four-left{
            max-width: 100%;
            text-align: center;
            h2{
                max-width: 100%;
            }
            p{
                max-width: 100%;
            }
        }
    }
  }
}
@media(max-width:660px){
   .section_four{
    .section_four-project{
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px 0;
       
        .four-left{
            max-width: 100%;
            text-align: center;
            transform: translate(0, -20px);
            h2{
                    width: 100%;
                    font-size: 28px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 13px;
                    line-height: 20px;
                    margin-bottom: 25px;
                }
        }
         .four-right{
            max-width: 60%;
            transform: translate(0, -20px);

        }
    }
  }
}