.section_three{
    .section_three-info{
        padding: 60px 0;
        display: flex;
        gap: 90px;
        .three-left{
            max-width: 50%;
            img{
                width: 100%;
            }
        }
        .three-right{
            max-width: 50%;
            padding-top: 100px;
             h2{
                    max-width: 582px;
                    color:#FFFFFF;
                    font-weight: 700;
                    font-size: 30px;
                    line-height:100%;
                    margin-bottom: 30px;
                   
                }
                p{
                   max-width: 579px;
                    color:#FFFFFF;
                    font-weight: 400;
                    font-size: 16px;
                    line-height:26px;
                    margin-bottom: 30px;
                    
                }
                 .three-btn{
                      padding: 8px 18px;
                      border: 1px solid #3A68B8;
                      background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
                      box-shadow: 0 0 5px #000;
                      border-radius: 4px;
                      color: #fff;
                      outline: none;
                      cursor: progress;
                      font-weight: 400;
                      font-size: 15px;
                      line-height: 20px;
                        &:hover{
                         background: none;
                         border: 1px solid #3A68B8;
               }
                  }
        }
    }
}