.section_two{
    .section_two-service{
        padding: 80px 0;
        .two-title{
          max-width: 587px;
          margin: 0 auto;
          margin-bottom: 40px;
          text-align: center;
             h2{
                    font-weight: 700;
                    font-size: 42px;
                    line-height:100%;
                    margin-bottom: 30px;
                    color: #FFFFFF;
                }
                p{
                   width: 587px;
                    color:#FFFFFF;
                    font-weight: 400;
                    font-size: 16px;
                    line-height:26px;
                    
                }
                
       }
       .two-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        .two-item{
           padding: 30px 23px;
           box-shadow: 0px 22px 18px 0px #0000000D;
           border: 1px solid;border-image-source: linear-gradient(97.12deg, rgba(255, 255, 255, 0.08) -3.52%, rgba(255, 255, 255, 0.07) 100.35%);
           background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
           border-radius: 34px;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           .two-rasms{
             width: 74px;
             height: 74px;
             border-radius: 50%;
             background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 19px;
           }
           .two-rasm{
             width: 74px;
             height: 74px;
             border-radius: 50%;
             background: linear-gradient(180deg, #D97F95 0%, #923250 100%);
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 19px;
           }
           .two-rasme{
             width: 74px;
             height: 74px;
             border-radius: 50%;
             background: linear-gradient(180deg, #84D8ED 0%, #4292BB 100%);
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 19px;
           }
           .two-rasmm{
             width: 74px;
             height: 74px;
             border-radius: 50%;
             background: linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 19px;
           }
           .two-rasmse{
             width: 74px;
             height: 74px;
             border-radius: 50%;
             background: linear-gradient(180deg, #BC7FD9 0%, #923283 100%);
             display: flex;
             align-items: center;
             justify-content: center;
             margin-bottom: 19px;
           }
           h3{
                    font-weight: 500;
                    font-size: 22px;
                    line-height:100%;
                    margin-bottom: 17px;
                    color: #FFFFFF;
             }
           p{
                   
                    color:#FFFFFF;
                    font-weight: 400;
                    font-size: 14px;
                    line-height:26px;
                    margin-bottom: 24px;
             }
             a{
                display: flex;
                align-items: center;
                gap: 8px;
                color:#FFFFFF;
                font-weight: 400;
                font-size: 16px;
                line-height:26px;

             }


        }
       }
   }
}


@media(max-width:960px){
  .section_two{
    .section_two-service{
        .two-list{
          grid-template-columns: repeat(2, 1fr);
        }
        
    }
  }
}
@media(max-width:660px){
   .section_two{
    .section_two-service{
        padding: 20px 0;
        .two-title{
            max-width: 100%;
            margin-bottom: 30px;
              h2{
                    width: 100%;
                    font-size: 29px;
                    line-height: 30px;
                    margin-bottom: 20px;
                }
                p{
                    width: 100%;
                    font-size: 15px;
                    line-height: 20px;
                
                }
        }
        .two-list{
          grid-template-columns: 1fr;
          .two-item{
            padding: 21px;
          }
        }
        
    }
  }
}
