*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
     font-family: "DM Sans", sans-serif;
}
body{
    background: black;
}
@import "header";
@import "hero";
@import "sectionOne";
