.section_two{
    .section_two-service{
        padding: 80px 0;
        .two-title{
          width: 587px;
          margin: 0 auto;
          margin-bottom: 40px;
          text-align: center;
             
                
       }
   }
}
